* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.125rem;
    text-align: center;
}

body {
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Silkscreen', cursive;
    background-color: #d8c4b6 !important;
}

.div-p-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.dropdown-menu {
    background-color: #000000bf !important;
}

label {
    color: #f5efe7;
}

nav {
    background-color: #4f709c;
}

nav a {
    color: #f5efe7 !important;
}

.navbar {
    justify-content: space-between;
}

footer {
    background-color: #4f709c;
    padding: 16px;
    width: 100%;
}

.div-direccion {
    grid-area: direccion;
}

.div-social {
    grid-area: social;
}

.div-newsletter {
    grid-area: newsletter;
}

.div-social-flex {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f5efe7;
}

footer h3 {
    color: #f5efe7;
}

.btn a {
    color: black;
}

footer button {
    height: 28px;
    padding: 4px !important;
}

footer input {
    padding: 4px;
    border-radius: 3px;
}

nav a {
    color: #f5efe7;
    text-decoration: none;
    margin: 8px;
}

.logo {
    margin: 10px;
}

.section-logo {
    border-radius: 100%;
    margin: 80px;
}

.section-h1 {
    margin: 32px;
}

fieldset {
    display: inline;
    border-radius: .625rem;
    padding: .3125rem;
}

.section-filtros {
    margin: 16px;
}

.section-p {
    margin: 20px;
}

.section-input {
    display: block;
    margin-left: 32px;
}

.section-label {
    margin-left: 32px   ;
}

#section-img {
    width: 100%;
}

#section-img1 {
    width: 100%;
}

#section-img2 {
    width: 100%;
}

#section-img3 {
    width: 100%;
}

button a {
    text-decoration: none;
}

.cards {
    margin: 16px;
    width: 400px;
    padding: 10px;
    background-color: #f5efe7;
    border-radius: 1.25rem;
    overflow: hidden;
}

.cards div img {
    width: 100%;
}

.section-img {
    border-radius: 20px;
}

.container-marcas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-evenly;
}

.btn {
    margin-left: 10px;
}

h2 {
    margin-left: 20px;
}

.container-cards2 {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.div-grid {
    margin-left: 15px;
}

.flex-principal {
    display: flex;
    justify-content: center;
}


.container-cards3 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.container-cards4 {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.cards:hover {
    box-shadow: 3px 5px 10px grey;
}

.div-grid-footer {
    display: grid;
    grid-template-areas: 
    "direccion direccion social . newsletter"
    ;
    align-items: center;
    justify-content: space-around;
}





@media (max-width:1440px) {
    .container-cards3 {
        grid-template-columns: repeat(4, 1fr);
        margin-left: 20px;
    }
    .container-cards2 {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }
    .container-cards {
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
    }
    .container-cards4 {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
    .cards {
        width: 288px;
    }
    footer {
        grid-template-areas: 
        "direccion social . newsletter"
        ;
    }
    .div-grid-footer:nth-child(3) {
        justify-content: end;
    }
    .container-marcas {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}


@media (max-width: 1024px) {
    .container-cards3, .container-cards2 {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }
    .container-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-cards4 {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
    .cards {
        width: 288px;
    }
    .div-grid-footer {
        grid-template-areas: 
        "direccion social newsletter"
        ;
    }
    .container-marcas img {
        width: 350px;
        justify-items: center;
    }
}

@media (max-width: 768px) {
    .container-cards3, .container-cards, .container-cards2, .container-cards4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    h1 {
        font-size: 32px;
    }
    .navbar-invisible {
        display: none;
    }
    .navbar-movil {
        display: flex;
    }
    .cards {
        width: 13rem;
    }
    .div-grid {
        font-size: 1rem;
    }
    .div-grid-footer {
        grid-template-areas: 
        "direccion social newsletter"
        ;
    }
    .container-marcas img {
        width: 300px;
        justify-items: center;
        margin: 20px;
    }
}

@media (max-width: 425px) {
    .container-cards3, .container-cards, .container-cards2, .container-cards4 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .div-grid-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .cards {
        width: 9.375rem;
    }
    .div-direccion {
        grid-column: 1 / 2;
    }
    .div-newsletter {
        grid-column: 2 / 3;
    }
    .div-social {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    .container-marcas img {
        width: 150px;
        justify-items: center;
        margin: 20px;
    }
}

@media (max-width: 375px) {
    .container-cards3, .container-cards, .container-cards2, .container-cards4 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .div-grid-footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .cards {
        width: 9.375rem;
    }
    .div-direccion {
        grid-column: 1 / 2;
        margin-right: 5px;
    }
    .div-newsletter {
        grid-column: 2 / 3;
    }
    .div-social {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    .container-marcas img {
        width: 130px;
        justify-items: center;
        margin: 20px;
    }
}

@media (max-width: 320px) {
    .container-cards3, .container-cards, .container-cards2, .container-cards4 {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .cards {
        width: 8rem;
    }
    .container-marcas img {
        width: 110px;
        justify-items: center;
        margin: 10px;
    }
    form fieldset button {
        margin-left: 20px;
    }
}
